<h1>Your Shopping Cart</h1>

<table>
  <thead>
    <tr>
      <th class="col-xs-6">Name</th>
      <th class="col-xs-4">Price</th>
      <th class="col-xs-2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cart.shopping_cart_items.each do |item| %>
      <tr>
        <td class="col-xs-6"><%= item.item.name %></td>
        <td class="col-xs-4"><%= item.item.id %></td>
        <td class="col-xs-1">
          <%= link_to 'Show', item.item, :class => 'btn-xs btn-info' %>
        </td>
        <td class="col-xs-1">
          <%= link_to 'Remove', cart_remove_path(id: item.item.id), :class => 'btn-xs btn-warning' %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'Checkout', cart_clear_path, :class => 'btn-xs btn-success', data: { confirm: 'Do you want this free?' } %></td>
      <td><%= link_to 'Clear Cart', cart_clear_path, :class => 'btn-xs btn-danger', data: { confirm: 'Are you sure?' } %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<br>
