<h1>All Products</h1>

<table>
  <thead>
    <tr>
      <th class="col-xs-5">Name</th>
      <th class="col-xs-3">Price</th>
      <th class="col-xs-1"></th>
    </tr>
  </thead>

  <tbody>
    <%= will_paginate @products %>
    <% @products.each do |product| %>
      <tr>
        <td class="col-xs-5"><%= product.name %></td>
        <td class="col-xs-3"><%= product.price %></td>
        <td class="col-xs-1"><%= link_to 'Show', product %></td>
        <% if current_user %>
          <% if current_user.is_admin? %>
            <td class="col-xs-1"><%= link_to 'Edit', edit_product_path(product) %></td>
            <td class="col-xs-1"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
        <td class="col-xs-1"><%= link_to 'Add to Cart', cart_add_path(id: product.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user %>
  <% if current_user.is_admin? %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
<% end %>